@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  width: 100vw;
  height: 90vh;
  position: relative;
  perspective: 1200px;
  /* half the width */
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-blocker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#room {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 80% 600px;
  transform-style: preserve-3d;
}

#room figure {
  margin: 0;
  display: block;
  position: absolute;
  border: 1px solid black;
  font: 50pt "calibri";
  text-align: center;
}

#room .n {
  width: 40vw;
  height: 450px;
  transform: rotateY(0deg) translateZ(0px);
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#room .e {
  width: 1000px;
  height: 450px;
  transform: rotateY(-90deg) translateZ(-20vw) translateX(490px);
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#room .w {
  width: 1000px;
  height: 450px;
  transform: rotateY(90deg) translateZ(-20vw) translateX(-490px);
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}

#room .b {
  width: 40vw;
  height: 1000px;
  transform: rotateX(90deg) translateZ(-225px) translateY(225px);
  background-image: url("../../assets/Carpet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#room .t {
  width: 40vw;
  height: 1000px;
  transform: rotateX(90deg) translateZ(225px) translateY(225px);
  background-image: url("../../assets/Ceiling.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.light-switch {
  background-image: url("../../assets/lightswitch.png");
  background-size: cover;
  background-color: beige;
  width: 30px;
  position: relative;
  height: 40px;
  z-index: 1;
  left: 200px;
  margin-left: 400px;
  margin-top: 230px;
  cursor: pointer;
}

.light-switch.on {
  transform: rotateY(180deg) rotate(180deg);
}

.light-switch:hover {
  box-shadow:
    0 0 60px 10px #fff,
    0 0 0 1px #fff;
}
/*
#plate {
  background-color: blue;
  width: 97%;
  height: 97%;
  border-radius: 10px;
  gap: 2px;
}

#screw {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: grey;
}

#screw-line {
  width: 100%;
  height: 2px;
  background-color: rgb(31, 31, 31);
}

#switch-box {
  width: 40%;
  height: 55%;
  background-color: rgb(136, 136, 136);
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-box {
  width: 95%;
  height: 95%;
  background-color: rgb(255, 255, 255);
  border: black 1px solid;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#toggle {
  width: 10px;
  height: 30px;
  background-color: grey;
  border-radius: 4px;
  /* transform: rotateY(25deg); 
}

#light-switch-label {
  font-size: 0.5rem;
  font-weight: 600;
  color: rgb(31, 31, 31);
}

*/

#computer-desk {
  position: absolute;
  width: 400px;
  height: 200px;
  margin-left: calc((-7.2% + 70px) * 4);
  top: 50vh;
  background-image: url("../../assets/computerdesk.png");
  /* background-color: blue; */
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 4;
  transform: translateZ(500px) rotateY(calc(17deg * 2));
}

#computer-desk:hover {
  cursor: pointer;
}

/* #computer-desk-2 {
  width: 200px;
  height: 200px;
  margin-left: 500px;
  margin-left: calc((-8% + 70px) * 4);
  margin-top: -30px;
  background-color: blue;
  background-image: url("../../assets/computerdesk.png");
  background-color: blue;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
  transform: rotateY(-90deg) translateZ(100px) translateX(200px);
} */

#phone-stand {
  position: absolute;
  width: 150px;
  height: 190px;
  margin-right: calc((-8%) * 4);
  top: 56vh;
  background-image: url("../../assets/phonenightstand.png");
  /* background-color: blue; */
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: 4;
  transform: translateZ(500px) rotateY(calc(-20deg * 2));
}

#phone-stand:hover {
  cursor: pointer;
}

#guitar-main {
  position: absolute;
  width: 240px;
  height: 240px;
  margin-left: 41%;
  margin-top: calc(8vh * 2);
  background-image: url("../../assets/guitar.png");
  /* background-color: blue; */
  background-size: 30%;
  background-repeat: no-repeat;
  z-index: 4;
  transform: translateZ(680px) rotateY(calc(2.1 * -33deg));
}

#guitar:hover {
  cursor: pointer;
}

#paintings {
  position: absolute;
  width: 400px;
  height: 180px;
  /* background-color: blue; */

  left: 47%;
  top: 12vh;
  /* margin-top: 47%; */
  /* margin-top: calc(8vh * 2); */
  /* background-image: url("../../assets/paintings.png"); */
  /* background-color: blue; */
  /* background-size: 30%;
  /* background-repeat: no-repeat; */
  z-index: 4;
  /* transform: translateZ(650px) rotateY(calc(20deg * 2)); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  padding: 48px;
}

@media (max-width: 600px) {
  body {
    font-size: 24px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  section div.world {
    grid-gap: 32px;
  }

  section img {
    width: 300px;
  }
}

header a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

body {
  font-family: Necto Mono;
  font-size: 32px;
  line-height: 1.5;

  background-color: #111118;
  color: #ffffff;
}

#paintings:hover {
  cursor: pointer;
}

#painting-1 {
  height: 120px;
  width: 120px;
  margin-bottom: -12px;
  background-image: url("../../assets/painting_1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#painting-2 {
  height: 120px;
  width: 120px;
  margin-bottom: -10px;
  background-image: url("../../assets/painting_2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#painting-3 {
  height: 200px;
  width: 200px;
  background-image: url("../../assets/painting_3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#painting-4 {
  position: relative;
  margin-top: 48px;
  height: 200px;
  width: 200px;
  background-image: url("../../assets/painting_4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#borderimg1 {
  border: 13px solid transparent;
  border-image: url("../../assets/pixil-frame-0.png") 16 round;
  position: relative;
}

#testpainting {
  position: relative;
  width: 250px;
  min-height: 100%;
  content: url("../../../public/Desk/desk.png");
}

#overlay-dark {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    ellipse closest-side at 15% 60%,
    /* Light at bottom-right corner */ rgba(255, 255, 255, 0) 0%,
    /* Transparent in the corner */ rgba(0, 0, 0, 0.83) 80%
      /* rgba(0, 0, 0, 1) 50%  */
  );
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

#overlay-dim {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.glow::before {
  height: 200px;
  width: 200px;
  content: "";
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 10px 5px rgba(234, 232, 158, 0.895);
  background-color: yellow;
}

.soundcloud-widget {
  width: 100%;
  height: 90%;
  padding: 20px;
  border-radius: 40px;
}

.soundcloud-widget-container {
  height: 100vh;
  width: 100%;
}

.soundcloud-icon {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* box-shadow: 10px 0 10px 10px rgba(37, 37, 37, 0.5); */
}

.boombox {
  width: 60vw;
  height: 60vh;
  background-image: url("../../assets/boombox.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#guitar-isolate {
  height: 600px;
  width: 200px;
  /* background-color: blue; */
  background-image: url("../../assets/guitar.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.guitar-closeup {
  height: 1200px;
}

.music-room {
  width: 100vw;
  height: 100%;
  display: flex;
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
}
.monitor-container {
  /* background-color: blue; */
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  height: 1000px;
  width: 80%;
  min-width: 600px;
  /* top: -100px; */
  /* left: 60px; */

  /* transform-origin: 50% 80% 600px; */
  /* transform: perspective(700px) rotateX(-30deg) translateY(-600px)
    translateX(100px) translateZ(-400px);
  transform-style: flat; */
}

.monitor {
  background-image: url("../../../public/Desk/monitor.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: purple; */
  position: relative;
  /* top: 100px; */
  /* width: 100%; */
  width: 600px;
  height: 600px;
  /* left: 50%; */
  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 2;
}

.monitor-closeup {
  background-image: url("../../../public/Desk/monitor.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  min-width: 1200px;
  min-height: 1200px;
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monitor img {
  /* position: absolute; */
  height: 100%;
  /* z-index: 2; */
  /* object-fit: contain; */
  /* transform-style: flat; */
}

.keyboard-and-mouse {
  position: relative;
  top: 30%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  overflow: hidden;
  /* background-color: red; */
}

.keyboard {
  width: 700px;
  position: relative;
  /* height: 100px */
  z-index: 2;
  overflow: hidden;
  /* background-color: blue; */
}

.mouse {
  width: 600px;
  position: relative;
  top: -40px;
  left: -100px;
  z-index: 2;
  rotate: 20deg;
  overflow: hidden;
}

.desktop-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* transform-origin: 50% 80% 600px; */
  /* transform-style: preserve-3d; */
}

.desk {
  background-image: url("../../../public/Desk/desk.png");
  background-size: fill;
  position: absolute;
  top: 0px;
  left: -300px;
  width: 150vw;
  height: 1000px;
  border-radius: 10px;
  transform: perspective(900px) translateY(190px) translateZ(-200px)
    rotateX(55deg);
}
.desk-closeup {
  background-image: url("../../../public/Desk/desk.png");
  background-size: fill;
  position: absolute;
  top: 0px;
  left: -300px;
  width: 150vw;
  height: 1000px;
  border-radius: 10px;
  transform: perspective(900px) translateY(300px) translateZ(-200px)
    rotateX(55deg);
}

.profile-background {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
  overflow: hidden;
}

.computer-desktop {
  border-radius: 20px;
  position: relative;
  top: -9.3%;
  width: 71%;
  height: 52.8%;
  background-color: rgb(174, 161, 218);
  overflow: hidden;
}

.computer-header {
  position: relative;
  width: 100%;
  height: 4%;
  background-color: rgb(219, 219, 219);
  color: black;
  justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  align-items: center;
  padding: 0 20px;
  /* border-radius: 20px; */
}

.computer-header-closeup {
  position: relative;
  width: 100%;
  height: 4%;
  background-color: rgb(219, 219, 219);
  color: black;
  justify-content: space-between;
  gap: 12px;
  font-size: 12px;
  align-items: center;
  padding: 0 20px;
  /* border-radius: 20px; */
}

.computer-header-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.computer-header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
}

.computer-header span {
  font: black;
  font-size: 1em;
}

.computer-header-closeup span {
  font: black;
  font-size: 1.5em;
}

.apple-logo {
  width: 10px;
  /* height: 90%; */
  height: 10px;
  /* background-color: red; */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Apple_Computer_Logo_rainbow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.finder-logo {
  position: relative;
  width: 15px;
  /* height: 90%; */
  height: 15px;
  right: -7px;
  /* background-color: red; */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Finder_icon_macOS_Yosemite.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.documents-page {
  background-image: url("../../assets/Wall.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.desktop-closeup-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.documents-container {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffc6;
}

.document-window {
  height: 90%;
  width: 90%;
  padding: 20px;
  color: black;
  background-color: white;
}

.gallery-background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paintings-container {
  min-height: 100vh;
  width: 1000vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  /* overflow: hidden; */
  /* background-color: red; */
  background-image: url("../../assets/Wall.jpg");
  background-size: cover;
}

.test-div {
  position: relative;
  padding: 40px;
  margin: 100px;
  /* min-width: 2000px; */
  /* min-height: 1000px; */
  background-color: blue;
  display: inline-block;
}

.test-div-2 {
  width: 5000px;
  height: 500px;
  background-color: red;
}

.image1 {
  position: relative;

  height: 100px !important;
  background-color: red;
  /* border-radius: 100%; */
  /* background-image: url("../../../public/galleryImages/galleryimage1.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  /* padding: 10px;
  margin: 10px; */
}

.icon1 {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
}

.icons {
  /* background-color: blue; */
  width: 100%;
  height: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  position: absolute;
  background-color: black;
  padding: 10px;
  /* margin: 10px; */
  border: red 1px solid;
}
