.phone-and-stand {
  display: flex;
  justify-content: center;
  /* flex-shrink: none; */
  align-items: bottom;
  cursor: none;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.nightstand {
  position: relative;
  width: 900px;
  min-width: 900px;
  height: 1000px;
  top: 460px;
  /* overflow: hidden; */
}

.phone-held {
  position: absolute;
  height: 1000px;
  left: 80%;
  top: 30%;
}

.phone-container {
  display: flex;
  align-items: center;
}

.phone {
  /* width: 600px; */
  min-width: 600px;
  /* min-height: 600px; */
  z-index: 2;
  position: absolute;
  top: 80px;
  margin-left: 100px;
  image-rendering: pixelated;
}

.phone-click-box {
  width: 240px;
  height: 150px;
  /* background-color: rgba(0, 0, 255, 0.345); */
  position: absolute;
  z-index: 4;
  top: 55px;
  margin-left: 330px;
}

.phone-keys-container {
  position: absolute;
  /* bottom: 360px; */
  margin-left: 10px;
  width: 150px;
  height: 140px;
  top: 251px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  z-index: 4;
}

.phone-key-click-box {
  /* background-color: rgba(0, 0, 255, 0.345); */
  position: relative;
}

.phone-key-click-box:hover {
  /* cursor: pointer; */
}

#phone-key-1 {
  left: -8px;
}

#phone-key-2 {
}

#phone-key-3 {
  left: 10px;
}

#phone-key-4 {
  left: -12px;
}

#phone-key-5 {
  top: -3px;
}

#phone-key-6 {
  left: 15px;
}

#phone-key-7 {
  left: -13px;
  top: -8px;
}

#phone-key-8 {
  top: -8px;
  left: 0px;
}

#phone-key-9 {
  top: -8px;
  left: 15px;
}

#phone-key-star {
  top: -12px;
  left: -20px;
}

#phone-key-0 {
  top: -17px;
  left: 2px;
}

#phone-key-pound {
  top: -16px;
  left: 20px;
}
