section.panner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section.panner div.world {
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px;

    display: grid;
    grid-template-columns: repeat(4, 600px);
    grid-gap: 48px;
    background-color: aqua;
}